/* Global */

:root {
    --primary-color: #244b5a;
    --accent-color: #C6DAE4;
    --secondary-color: #ffcc70;
    --text-color: #333;
    --bg-light: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
    word-spacing: 0.16em;   
}

body {
    font-family: "ruddy", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: #F1F1F1;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

h2, h3 {
    font-weight: 800;
}

p {
    max-width: 67ch;
}
/* Navbar */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
    box-shadow: 0 2px 6px rbga(0, 0, 0, 0.5);
    z-index: 1000;
}

.navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
}

.menu-overlay.active {
    display: flex;
}

.menu-overlay ul {
    list-style: none;
    text-align: center;
}

.menu-overlay li {
    margin: 1rem 0;
}

.menu-overlay a {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    transition: color 0.2s;
}

.menu-overlay a:hover {
    color: var(--secondary-color);
}

/* Hero Section */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    background-color: var(--bg-light);
}

.hero-img {
    position: relative;
    z-index: 2000;
    bottom: 1.5rem;
}

.hero-img.active {
    z-index: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content p {
    font-size: 1.5rem;
    font-family: "ruddy", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* About Me Section */


.text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform: translateX(200%);
    animation-name: slide-in-right;
    color: var(--secondary-color);
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

#about-me {
    width: 100vw;
    background-image: url("../assets/images/about-me-background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 2rem;
    background-color: var(--bg-light);
    display: flex;
}

.about-content {
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.about-content p {
    color: white;
    font-family: ff-din-paneuropean, sans-serif;
    font-weight: 300;
    text-align: left;
    margin-left: 2rem;
}

.about-content h2 {
    color: white;
    font-size: 3.5rem;
    font-weight: 200;
    word-spacing: 1rem;
    margin-bottom: 2rem;
}

.subscript-text {
      vertical-align: -0.15em;
}

.superscript-text {
    vertical-align: 0.15em;
}
/* Work Preview */

#work-preview {
    padding: 4rem 2rem;
    background: var(--bg-light);
    font-family: "ruddy", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.work-preview-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(250px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: auto;
}

.work-card {
    background-color: var(--bg-light);
    border-radius: 45px;
    text-align: left;
}

.work-card:hover {
    transform: translateY(-5px);
}

.work-card img {
    width: 100%;
    display: block;
    border-radius: 45px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.work-card h3 {
    font-size: 3rem;
    color: var(--primary-color);
}

.work-card p {
    color: var(--secondary-color);
}


/* Footer */

footer {
    padding: 2rem;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .hero-content img {
        width: 0.5rem;
    }
    #work-preview {
        font-size: 1.5rem;
    }
}